<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ui_view_navigation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04D563CB20BD04E400B82258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D563E420BD04E400B82258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D563EF20BD04E500B82258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
